.navbar-logo {
    max-width: 100%;
}
.nav-menu-list-container {
    float: right;
    @media (max-width: 760px) {
        display: none;
    }
    ul {
        padding: 0;
        margin: 0;
        display: block;
        float: right;
        list-style: none;
        li {
            float: left;
            padding: 10px;
            @media (max-width: 800px) {
                padding: 10px 7px;
            }
            a {
                color: $white;
                font-weight: 500;
                text-decoration: none;
                font-size: 14px;
                &:hover {color: $red-font}
            }
        }
    }
}

